body {
  margin: 0;
  background-color: $grey1;
  min-height: 100vh;
  display: flex;
  > div {
    min-height: 100%;
    flex: 1;
    > div {
      display: flex;
      flex-direction: column;
      min-height: 100%;
    }
  }
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
