.header {
  background-color: $grey9;
  padding: 1.45rem 1.0875rem;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-end;
  >*{
    margin-right: 1em;
  }
  @media only screen and (min-width:$TABLET_BREAKPOINT) {
    justify-content: space-between;
    flex-direction: row;
    >*{
      margin-right: 0;
    }
  }
}
